<div id="home" class="mt-5">
     <h1 class="text-center mb-3">About</h1>
     <section class="card">
          <div class="card-body h3 text-center p-4">
               <p>
                    Blog Pessoal para você armazenar status de atividades recente, no mundo "NERD".
                    <hr> 
                    Tudo que você postar, só você tera acesso.
                    <br>
                    Livros, Series, Filmes, Animes, Animações e Mangá.
                    <hr>
                    <br>
                    Basta voce Adicionar o Titulo, a Categoria e Descrição que no caso é o status atual do seu
                    hobby!                    
               </p>
          </div>
     </section>
</div>