<div id="home" class="mt-5">
     <h2 class="mb-3 text-center">Notes App Nodejs and mongodb</h2>
     <section class="card mb-3">
          <div class="card-body py-2">
               <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quisquam soluta suscipit voluptates,
                    quis
                    dignissimos tenetur illo autem sed? Accusantium adipisci molestiae provident a autem ex dolorum
                    pariatur
                    vero
                    aliquid.
               </p>
          </div>
     </section>

     <section class="card mb-3">
          <div class="card-body py-2">
               <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquam corporis aspernatur officia
                    minima,
                    similique pariatur autem quos iusto accusantium! Ipsa delectus beatae deleniti eos, perferendis
                    harum
                    possimus
                    porro reiciendis!
               </p>
          </div>
     </section>
     <div><a href="http://portfolio-adelmo.vercel.app" class="btn  btn-green"> Meu portfolio 🚀</a></div>
</div>