<div class="container">
     <h1 class="display-4 mb-4">Notes App Nodejs and mongodb</h1>
     <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quisquam soluta suscipit voluptates, quis
          dignissimos tenetur illo autem sed? Accusantium adipisci molestiae provident a autem ex dolorum pariatur
          vero
          aliquid.
     </p>
     <hr class="my-4">
     <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquam corporis aspernatur officia minima,
          similique pariatur autem quos iusto accusantium! Ipsa delectus beatae deleniti eos, perferendis harum
          possimus
          porro reiciendis!
     </p>
     <a href="http://portfolio-adelmo.vercel.app" class="btn btn-primary"> Meu portfolio 🚀</a>
</div>