<header class="navbar-expand-lg">
    <a href="/">
        <h1 class="logo">Notes App</h1>
    </a>
    <div class="btn-menu"><i class="fa fa-bars"></i></div>
    <!--Menu-->

    <nav class="menu">
        <a class="btn-close"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/notes/add">Add Note</a></li>
            <li><a href="/notes/all-notes">All Notes</a></li>

            <li><a href="/users/signin">Login</a></li>
            <li><a href="/users/signup">Register</a></li>
            <!--Dark Mode-->
            {{!-- <li class="da">
                    <button class="dark-button"><i class="fa fa-moon-o"></i> </button>
                </li>
                <li class="da">
                    <button class="light-button" hidden="hidden"><i class="fa fa-sun-o"></i></button>
                </li> --}}
        </ul>
    </nav>
</header>