<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card back-1 text-center">
            <div class="d-flex justify-content-center">
                <h4 class="mg-5 up-case">{{title}}
                    <a class="mg-3" href="/notes/edit/{{_id}}">
                        <i class="fa fa-edit"></i>
                    </a>
                </h4>
            </div>
            <div class="card-body back-2">
                <p>
                    {{description}}
                </p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button id="delete" type="submit" class="btn btn-block ">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>