<div class="row py-4">
    {{#each notes}}
    <div class="px350">
        <div class="card back-1 text-center mt-5">
            <div class="d-flex justify-content-center">
                <h4 class="up-case">{{title}}</h4>
                <a class="position-top" href="/notes/edit/{{_id}}">
                    <i class="fa fa-edit"></i>
                </a>
            </div>
            <div class="card-body back-2">
                <p>
                    {{description}}
                </p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button id="delete" type="submit" class="btn btn-block ">Delete</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>