{{!-- {{#each categoria}} --}}
<div class="card mb-4">
    <h1 class="text-center">HQ's</h1>
    <div class="py-4" id="flex-3coluns">
        {{#each notes}}
        <div id="items">
            <div class="card back-1 text-center ">
                <div class="d-flex justify-content-center">
                    <h4 class="up-case mt-3 mb-0">{{title}}</h4>
                    <a class="position-top" href="/notes/edit/{{_id}}">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
                <div class="card-body back-2">
                    <p>
                        {{description}}
                    </p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button id="delete" type="submit" class="btn btn-block ">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{!-- {{#each categoria}} --}}