<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    Account Login
                </div>
                <div class="card-body">
                    <form action="/users/signin" method="POST">
                        <div class="form-floating mb-3">
                            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email"
                                required>
                            <label for="floatingInput">Email</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" name="password" class="form-control" id="floatingInput"
                                placeholder="Password" required>
                            <label for="floatingInput">Password</label>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-green btn-block">Signin</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>